@font-face {
	font-family: FranklinCompITCStdBold;
	src: url("FranklinCompITCStd-Bold.otf") format("opentype");
}

@font-face {
	font-family: FranklinITCProLight;
	src: url("FranklinITCProLight.ttf") format("opentype");
}