// global declarations
* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}


body {
  background-color: #fff;
  color: $default-text-color;
  display: table;
  font-family: 'Helvetica';
  font-size: percentage($default-font-size/16px);
  height: 100%;
  line-height: $default-line-height;
  padding-bottom: 4em;
  padding-top: 4em;
  margin: 0;
  width: 100%;
}

body.noselect {
  @include user-select(none);
}

.content {
  max-width: 1100px;
  margin: 0 auto;
}

.instructions {
  background: #bebebe;
  float: right;
  font-size: 14px;
  font-weight: 700;
  line-height: 35px;
  margin: 25px 0;
  text-align: center;
  text-transform: uppercase;
  top: 0;
  width: 140px;
}

.instructions a {
    color: #fff;
    width: 100%;
    height: 100%;
    text-decoration: none;
  }

.instructions:hover {
    background-color:#2980b9;
}

.left { float: left; }
.right { float: right; }

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}
.cf:after {
    clear: both;
}
.cf {
    *zoom: 1;
}
