/*
Media queries styles, This is Hell on Earth
*/

@media (max-width: 969px) {
  #meme-download,
  .upload-wrapper,
  .options {
    margin-left: (5rem/16);
    margin-right: (5rem/16);    
  }
}

/* One column */

@media (max-width: 649px) {
  .options {
    
    fieldset {
      width: 100%;
      margin: (20rem/16) 0 0 0;
      
      &:first-child {
        margin-top:0;
      }
    }
    
    .items-group li{
      margin-left: (19%/288*100);
    }
    
    
  }
}

/* Two column */
@media (min-width: 650px) and (max-width: 969px) {
  .options {
  
    fieldset {
      &:nth-child(1),
      &:nth-child(2) {
        width: 49%;
        
      }
      &:nth-child(2) {
        margin-left: 2%;
      }
      &:nth-child(3) {
        margin: (20rem/16) 0 0 0;
        width: 100%;
      }      

    }  
  
  }
}

/* Three column */
@media (min-width: 970px) {
  
}



/* Fix ratios */
@media (max-width: 969px) {
  #meme-canvas.ratio-tn {
    width: 100%;
  }  
}
@media (max-width: 509px) {
  #meme-canvas.ratio-instagram {
    width: 100%;
    padding-bottom: 100%;
  }  
}
@media (max-width: 505px) {
  #meme-canvas.ratio-twitter {
    width: 100%;
    padding-bottom: (253%/506*100);
  }  
}