@import 'mixin';

.upload-image {
  .upload-wrapper {
    margin-bottom: (36rem/16);
  }

  .form-input {
    float: left;
    width: 50%;
    text-align: center;
    text-transform: uppercase;
    font-size: (18rem/16);
    color: #999999;
    line-height: (65rem/16);
    @include box_sizing(border-box);

    &.drop {
      border: 3px dotted #999;
      border-right: none;
      @include border_radius(5px 0 0 5px)
    }
    &.explore {
      border: 3px solid #999;
      @include border_radius(0 5px 5px 0)
    }

    label {
      width: 100%;
      height: 100%;
      display: table;
    }

    #image {
      display: none;
    }
  }
}

#meme-canvas-view {
  background: #1A1A1A;
  position: relative;

  &:before{
    background: none repeat scroll 0 0 #1a1a1a;
    content: "";
    height: 100%;
    left: 100%;
    position: absolute;
    top: 0;
    width: 100%;
  }
  &:after{
    background: none repeat scroll 0 0 #1a1a1a;
    content: "";
    height: 100%;
    right: 100%;
    position: absolute;
    top: 0;
    width: 100%;
  }
}

.options{
  clear: both;
 fieldset{
   width: 32%;
   float: left;
   @include border_radius(10px);
   border: solid 1px #999999;
   position: relative;
   &:nth-child(3){
     float: right;
   }
   h2{
     text-transform: uppercase;
     color: #ffffff;
     position: absolute;
   }
 }
}
