<div class="m-canvas" id="meme-canvas-view">
  <div class="m-canvas__canvas" id="meme-canvas">
    <noscript>Ops, esta ferramnta necessita de navegador habilitado para canvas. Tente com o Google Chrome.</noscript>
  </div>
  <p class="m-canvas__download">
    <a href="#" download="share.png" id="meme-download">Download da Imagem</a>
  </p>
</div>
