<div class="m-canvas" id="meme-canvas-view">
  <div class="m-canvas__canvas" id="meme-canvas">
    <noscript>Sorry, this tool requires a canvas-enabled browser. Try Google Chrome.</noscript>
  </div>
  <p class="m-canvas__download">
    <a href="#" download="share.png" id="meme-download">Download Image</a>
  </p>
</div>
