#meme-canvas-view.m-canvas
  #meme-canvas.m-canvas__canvas
    %noscript Sorry, this tool requires a canvas-enabled browser. Try Google Chrome.
  %p.m-canvas__download
    %a#meme-download{:download => "share.png", :href => "#"} Download Image
