<form class="m-editor" id="meme-editor-view">
  <div class="dropzone" id="dropzone">Arraste a imagem aqui</div>
  
  <h2><label for="image-scale">Redimensionar imagem</label></h2>
  <input id="image-scale" type="range" max="4" min=".01" step=".01" value="1">
  
  <h2><label for="headline">Cabeçalho</label></h2>
  <textarea id="headline" name="headline" type="text" value=""></textarea>
  
  <select class="text-align" id="text-align">
    <option value="" disabled>Alinhamento</option>
  </select>

  <select class="font-size" id="font-size">
    <option value="" disabled>Tamanho da fonte</option>
  </select>

  <select class="font-family" id="font-family">
    <option value="" disabled>Selecionar fonte</option>
  </select>

  <div class="checkbox-group text-shadow">
    <input id="text-shadow" name="shadow" type="checkbox"> 
    <label for="text-shadow">Sombra no texto</label>
  </div>

  <select class="watermark" id="watermark">
    <option value="" disabled>Selecionar campanha</option>
  </select>

  <h2><label for="credit">Creditos</label></h2>
  <input id="credit" name="credit" type="text" value="">

  <div class="m-editor__overlay" id="overlay">
    <h2>Cor da máscara</h2>
    <ul class="checkbox-group">
      <li><label><input type="radio" name="overlay" value=""> Nenhuma</label></li>
    </ul>
  </div>
</form>
