<form class="m-editor" id="meme-editor-view">

  <!-- Global -->
  <h2 class="editor-section-title opened">Global Settings</h2>
  <div class="editor-section">
    <div class="checkbox-group">
      <input id="show-candidate" type="checkbox"> 
      <label for="show-candidate">Show Candidate</label>
    </div>

    <div class="checkbox-group">
      <input id="show-fact-checker" type="checkbox"> 
      <label for="show-fact-checker">Show Fact Checker</label>
    </div>

    <div class="checkbox-group text-shadow">
      <input id="text-shadow" name="shadow" type="checkbox"> 
      <label for="text-shadow">Text Shadow</label>
    </div>
  </div>

  <!-- Background Image -->
  <!-- <div class="dropzone" id="dropzone">Drag Image Here</div>
  <a href="#" id="image-remove">Remove Image</a>
  <h2><label for="image-scale">Resize Image</label></h2>
  <input id="image-scale" type="range" max="4" min=".01" step=".01" value="1"> -->

  <!-- Candidate -->
  <div id="candidate-section">
    <h2 class="editor-section-title opened">Candidate Settings</h2>
    <div class="editor-section">
      <h2>Candidate</h2>
      <select class="candidate" id="candidate">
        <option value="" disabled>Select candidate face</option>
      </select>

      <h2><label for="candidate-ratio">Image Width/Height Ratio</label></h2>
      <input id="candidate-ratio" name="candidate-ratio" type="text" value="" />

      <h2>Image Size</h2>
      <input id="candidate-size" type="range" max="600" min="200" step="10" value="400">

      <h2>Horizontal Position</h2>
      <input id="candidate-horizontal" type="range" max="1.2" min="-1" step=".025" value="0.05">

      <h2>Vertical Position</h2>
      <input id="candidate-vertical" type="range" max="1.2" min="-1" step=".025" value="0.2">
    </div>
  </div>

  <!-- Fact Checker -->
  <div id="fact-checker-section">
    <h2 class="editor-section-title opened">Fact Checker Settings</h2>
    <div class="editor-section">
      <h2>Icons</h2>
      <select class="fact-checker" id="fact-checker">
        <option value="" disabled>Select fact checker icons</option>
      </select>

      <h2>Vertical Position</h2>
      <input id="fact-checker-vertical" type="range" max="1.2" min="-0.5" step=".025" value="0.2">
    </div>
  </div>
  
  <!-- Text -->
  <h2 class="editor-section-title opened">Text Settings</h2>
  <div class="editor-section">
    <h2><label for="headline">Text</label></h2>
    <textarea id="headline" name="headline" type="text" value=""></textarea>
    
    <h2>Horizontal Alignment</h2>
    <select class="text-align" id="text-align">
      <option value="" disabled>Select alignment</option>
    </select>

    <h2>Vertical Position</h2>
    <input id="vertical-align" type="range" max="0.85" min="0" step=".025" value="0.4">

    <h2>Font</h2>
    <select class="font-family" id="font-family">
      <option value="" disabled>Select font</option>
    </select>

    <h2>Font Size</h2>
    <select class="font-size" id="font-size">
      <option value="" disabled>Select font size</option>
    </select>
  </div>

  <!-- Credit -->
  <!-- <h2><label for="credit">Credit</label></h2>
  <input id="credit" name="credit" type="text" value=""> -->

  <!-- Overlay Color -->
  <h2 class="editor-section-title opened">Background Settings</h2>
  <div class="editor-section">
    <div class="m-editor__overlay" id="overlay">
      <h2>Color</h2>
      <ul class="checkbox-group">
        <!-- <li><label><input type="radio" name="overlay" value=""> None</label></li>
        <li><label><input class="m-editor__swatch" type="radio" name="overlay" value="gradient-left-right"></label></li>
        <li><label><input class="m-editor__swatch" type="radio" name="overlay" value="gradient-right-left"></label></li>
        <li><label><input class="m-editor__swatch" type="radio" name="overlay" value="gradient-top-bottom"></label></li>
        <li><label><input class="m-editor__swatch" type="radio" name="overlay" value="gradient-bottom-top"></label></li>
        <li><label><input class="m-editor__swatch" type="radio" name="overlay" value="gradient-middle-light-vertical"></label></li>
        <li><label><input class="m-editor__swatch" type="radio" name="overlay" value="gradient-middle-dark-vertical"></label></li>
        <li><label><input class="m-editor__swatch" type="radio" name="overlay" value="gradient-middle-light-horizontal"></label></li>
        <li><label><input class="m-editor__swatch" type="radio" name="overlay" value="gradient-middle-dark-horizontal"></label></li> -->
      </ul>
    </div>

    <h2>Opacity</h2>
    <input id="overlay-opacity" type="range" max="1" min="0" step=".025" value="0.5">
  </div>

  <!-- Score -->
  <!-- <div class="m-editor__score" id="overlay">
    <h2>Score</h2>
    <ul class="checkbox-group">
      <li><label><input type="radio" name="score" value="" checked> None</label></li>
      <li><label><input type="radio" name="score" value="up"> <i class="fa fa-thumbs-o-up"></i></label></li>
      <li><label><input type="radio" name="score" value="down"> <i class="fa fa-thumbs-o-down"></i></label></li>
    </ul>
  </div> -->

  <!-- Extras -->
  <h2 class="editor-section-title opened">Extras</h2>
  <div class="editor-section">
    <h2><label for="bottom-text">Bottom Text</label></h2>
    <input id="bottom-text" name="bottom-text" type="text" value="" placeholder="Write your text here." />
  </div>
</form>
