<div class="editor">
  <form>
    <div class="cf image-upload">
      <div class="dropzone" id="dropzone">drop new image here</div>
    </div>
    <label for="scale">Resize image</label>
    <input id="scale" type="range" max="4" min=".01" step=".01" value="1">
    <label for="headline">Headline</label>
    <div class="cf">
      <input id="headline" name="headline" type="text" value="I'm a headline. Yo. What's up?">
      <select id="fontsize">
        <option value="smaller" data-height="26">smaller</option>
        <option value="default" data-height="30" selected>default size</option>
        <option value="bigger" data-height="38">bigger</option>
        <option value="huge" data-height="50">huge</option>
      </select>
      <select id="fontfamily">
        <option value="" disabled>Select a font</option>
        <option value="Helvetica" selected>Helvetica</option>
        <option value="Helvetica Neue">Helvetica Neue</option>
        <option value="Comic Sans MS">Comic Sans MS</option>
      </select>
      <input id="fontfamily_freeform" type="text" placeholder="Font family (free form)">
    </div>
    <label for="credit">Credit</label>
    <input id="credit" name="credit" type="text" value="Source: ">
    <fieldset>
      <label class="left" for="overlay">Overlay: </label>
      <div class="overlay" data-color="#000">x</div>
      <div class="overlay" data-color="#FF8C00">x</div>
      <div class="overlay overlay-active" data-color="#3498DB">x</div>
    </fieldset>
    <fieldset>
      <select id="alignment">
        <option value="left"selected>left align</option>
        <option value="center">center align</option>
        <option value="right">right align</option>
      </select>
    </fieldset>
    <fieldset>
      <input id="shadow" name="shadow" type="checkbox">
      <label for="shadow">Highlight text</label>
    </fieldset>
  </form>
</div>
