%footer#footer.clearfix.wrapper
  .legal
    %p
      %a{:href=>"http://blogs.tn.com.ar/dev/memes_al_poder_una_receta_para_generar_imagenes_que_quieren_ser_compartidas/", :title=>"¿Qué es esto?"} ¿Qué es esto?
      |
      %a{:href=>"https://github.com/dientuki/meme", :title=>"Código Fuente"} Código Fuente
      |
      %a{:href=>"https://github.com/voxmedia/meme", :title=>"Meme original de Vox Media"} Meme original
      de Vox Media
      |
      %a{:href=>"http://tn.com.ar/terminos-y-condiciones", :title=>"Términos y Condiciones"} Términos y Condiciones
