%footer#footer.clearfix
  .legal
    %p
      Copyright 1996 - #{Time.new.year} <a target="_blank" title="ARTEAR" href="http://artear.com/">ARTEAR</a>.
      %a{:href=>"mailto:info@tn.com.ar"} Contacto
      &sim;
      %a{:href=>"http://tn.com.ar/terminos-y-condiciones"} Términos y Condiciones
      &sim;
      %a{:href=>"http://tn.com.ar/proteccion-de-datos-personales"} Protección de Datos Personales
    %p
      %span.label Direcci&oacute;n:
      Lima 1261 &sim;
      %span.label N&uacute;mero de tel&eacute;fono:
      4999-0000 &sim;
      %span.label Correo electr&oacute;nico:
      %a{:href=>"mailto:mensajes@tn.com.ar"} mensajes@tn.com.ar
      &sim;
      %a{:href=>"http://tn.com.ar/rss.xml", :target=>"_blank", :title=>"RSS"} RSS
      &sim;
      %a{:href=>"http://mediakit.cmd.com.ar", :target=>"_blank", :title=>"Mediakit de productos"} Mediakit de productos