<meta charset="utf-8">
<meta name="viewport" content="initial-scale=1">
<!-- Always force latest IE rendering engine or request Chrome Frame -->
<meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
<title><%= current_page.data.title %></title>
<%= stylesheet_link_tag "main", {media: false} %>
<meta name="description" content="<%= current_page.data.description %>" />
