$m: '.m-meme';

body {
  margin: 0;
  padding: 0 20px;
}

#{$m} {
  margin: 20px auto 50px;
  max-width: 990px;

  // Mini-clearfix:
  &:before,
  &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}