form {
  label {
    display: block;
    font-weight: 700;
    margin-bottom: 5px;
  }
  input[type="text"] {
    border: 1px solid #efefef;
    line-height: 30px;
    margin-bottom: 2em;
    outline: 0;
    padding: 0 5px;
    width: 100%;
    &:focus {
      border: 1px solid yellow;
    }
  }
  input[type="range"] {
    margin-bottom: 2em;
    width: 100%;
  }
  select,
  option {
    background: #efefef;
    border: 1px solid #cfcfcf;
    border-radius: 0;
    line-height: 30px;
    margin-bottom: 2em;
    width: 100%;
  }
  fieldset {
    border: 0;
    float: left;
    margin: 0 auto;
    padding: 0;
    width: 50%;
    label {
      display: inline;
    }
  }
}
