form {
  h2 {
    font-size: 16px;
    font-weight: 700;
    margin: 0 0 0.25em;
  }

  select,
  textarea,
  input[type="text"],
  input[type="range"] {
    margin-bottom: 1.25em;
    width: 100%;
  }

  .checkbox-group {
    margin-bottom: 0.5em;
    width: 100%;
  }

  .checkbox-group label {
    font-size: 0.8em;
    font-weight: normal;
    margin-bottom: 0;
  }

  textarea,
  input[type="text"] {
    border: 1px solid #ccc;
    outline: 0;
    padding: 6px 5px;
    @include transition (box-shadow ease-in-out 0.1s);

    &:focus {
      box-shadow: 0 0 2px lighten($theme-color, 15);
    }
  }

  textarea {
    height: 6em;
  }

  select,
  option {
    border: 1px solid #cfcfcf;
    border-radius: 0;
  }

  fieldset {
    border: none;
    margin: 0 auto;
    padding: 0;
  }
}
