$m: '.m-canvas';

.canvas-wrapper {
  position: relative;
  width: 66.67%;

  @media screen and (max-width: 700px) {
    width: 100%;
  }
}

#{$m} {
  @media screen and (min-width: 700px) {
    position: fixed;
    width: inherit;
    max-width: 693px;    
  }

  @media screen and (max-width: 700px) {
    margin-top: 50px;  
  }

  #{$m}__canvas {
    background: #fcfcfc;

    canvas {
      max-width: 100% !important;
    }
  }

  #{$m}__download a {
    background: $theme-color;
    border: none;
    border-radius: 5px;
    color: #fff;
    display: block;
    font-weight: 700;
    line-height: 50px;
    text-align: center;
    text-decoration: none;
    @include transition (background-color ease-in-out 0.1s);

    &:hover {
      background: lighten($theme-color, 5);
    }

    .fa-download {
      position: relative;
      top: 1px;
      padding-right: 3px;
    }
  }

  #{$m}__download-note {
    color: #777;
    font-size: 12px;
    font-style: italic;
  }
}
