$m: '.m-editor';

#{$m} {
  margin-bottom: 30px;

  @media screen and (min-width: 700px) {
    @include box-sizing(border-box);
    float: right;
    padding-left: 20px;
    width: 30%;
  }

  .dropzone {
    background-color: #fcfcfc;
    border: 2px dashed #cfcfcf;
    border-radius: 10px;
    color: #6a6a69;
    display: block;
    font-size: 18px;
    font-weight: 700;
    height: 80px;
    line-height: 80px;
    margin-bottom: 1em;
    text-align: center;
    vertical-align: middle;

    &.pulse {
      -webkit-animation: pulsate 0.3s infinite;
      -webkit-animation-direction: alternate;
      -webkit-animation-timing-function: ease-in-out;
      -moz-animation: pulsate 0.3s infinite;
      -moz-animation-direction: alternate;
      -moz-animation-timing-function: ease-in-out;
      -o-animation: pulsate 0.3s infinite;
      -o-animation-direction: alternate;
      -o-animation-timing-function: ease-in-out;
      animation: pulsate 0.3s infinite;
      animation-direction: alternate;
      animation-timing-function: ease-in-out;
    }
  }

  .text-align,
  .font-size,
  .font-family,
  .text-shadow,
  .watermark {
    display: none;
  }

  #{$m}__overlay {
    display: none;

    // Mini-clearfix:
    &:before,
    &:after {
      content: " ";
      display: table;
    }
    &:after {
      clear: both;
    }

    ul {
      list-style: none;
      margin: 0;
      padding: 0;

      label {
        display: block;
        float: left;
        height: 20px;
        line-height: 20px;
      }
    }
  }

  #{$m}__swatch {
    @include appearance(none);
    background-color: #000;
    border-radius: 3px;
    cursor: pointer;
    display: block;
    height: 100%;
    margin: 0;
    margin-left: 1em;
    outline: none;
    text-align: center;
    width: 30px;

    &:checked:before {
      content: 'x';
      color: white;
      font-size: 18px;
      vertical-align: center;
    }
  }
}

@mixin pulsate-keyframe() {
  0% {
    background-color: #fcfcfc;
    border-color: #cfcfcf;
  }
  100% {
    background-color: lighten($theme-color, 40);
    border-color: $theme-color;
  }
}

@-webkit-keyframes pulsate {
  @include pulsate-keyframe();
}
@-moz-keyframes pulsate {
  @include pulsate-keyframe();
}
@-o-keyframes pulsate {
  @include pulsate-keyframe();
}
@keyframes pulsate {
  @include pulsate-keyframe();
}
