.svg {
  float: left;
  width: 755px;
  .canvas {
    height: 378px;
    width: 755px;
  }
  img {
    display: none;
  }
  .download {
    background: #7ab8cf;
    border: none;
    color: #fff;
    cursor:pointer;
    display: block;
    font-weight: 700;
    line-height: 50px;
    text-align: center;
    text-decoration: none;
    width: 100%;
    @include transition (background-color ease-in-out 0.3s);
  }
  @media ( max-width: 1100px ) {
    float: none;
    padding: 0 1em;
  }
}
